.projects_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  padding: 40px;
}

.projects_container p {
  margin: 0 auto;
  max-width: 300px;
}

.selectedprojects_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: center;
  padding: 30px;
}
.selectedprojects_container div {
  padding: 10px;
}

.selectedprojects_container img {
  width: 100%;
}
